@{
    ViewBag.Title = "Email Doğrulama";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Email adresin de doğru, sen de doğrusun.  @Html.ActionLink("Hadi Sisteme Giriş", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
