@{
    ViewBag.Title = "Ana Sayfa";
}

<div class="jumbotron">
    <h3>TÜRETİCİYE NOTLAR - SİPARİŞ VERMEDEN ÖNCE LÜTFEN OKUYUN</h3>
    <p class="lead">Ürünlerinizi almaya gelirken, lütfen yanınızda ambalaj getirin, Böylece, doğaya daha fazla ambalaj atığı bırakmayalım. :)</p>
    <p class="lead">
        Teslimat Yeryüzü Derneği Kadıköy Merkez Ofisinde(Söğütlüçeşme Cad. No:196 Kat:3 Kadıköy/İstanbul) ,
        11:00-14:00 saatleri arasında yapılacaktır. Lütfen belirtilen gün ve saatte ürünlerimizi almaya gelelim, 
        mekan dağıtım sonrası başka etkinliklere de ev sahipliği yapabiliyor, gecikmeyelim. :)</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>TDT GÖNÜLLÜ SİSTEMİ SİSTEM NASIL İŞLİYOR?</h2>
        <p>
            Ürünlerin tek bir noktaya gönderimini istiyoruz. 
            Böylelikle kargo masrafları ve bu süreçte ortaya çıkan karbon ayakizimizi azaltmış oluyoruz. 
            Listedeki ürünlere 10TL'ye kadar 1-2TL, 10TL üzeri ürünlerde max %20'yi aşmayacak opsiyonel bir kargo ve sigorta masrafı ekleniyor. 
            "Fiyat ve Maliyet" sütunları arasındaki farka bakarak fiyata dahil olan bu miktarı görebilirsiniz. Dağıtım sonrası artan para olursa, kargoda kırılan ürünlere, kısacası zaiyatlara ve yine gerektiği zaman TDT siteminde kullanılmak üzere şeffaf kasaya aktarılıyor. 
            Türeticiler https://goo.gl/j8f6O2 linkinden şeffaf kasayı her zaman takip edebilirler.
        </p>
    </div>
    <div class="col-md-4">
        <h2>KAYIT OLMA VE ARKADAŞLARINI DA TÜRETİCİ LİSTESİNE EKLEME</h2>
        <p>TDT Kadıköy listemize eklemek istediğiniz arkadaşlarınızı https://goo.gl/6Ci2I9 linkinden listeye her zaman ekleyebilirsiniz.</p>
    </div>
    <div class="col-md-4">
    </div>
</div>