@if (Request.IsAuthenticated)
{
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("SiparisleriGetir", "Genel")'" >Siparişlerim<span class="badge">@ViewBag.Miktar</span></button>
}

